django-crispy-forms>=1.7
django-registration-redux>=2.0

# Django
# ------------------------------------------------------------------------------
Django>=2.0  # Web application framework
# Django REST Framework
djangorestframework==3.9.1