{%extends "base.html"%}
{%block content%}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h2 class="text-align-center"><strong>Nuestra Historia</strong></h2></br>
        <p class="text-align-center">Agua, Tierra, Fuego, Aire. </p>
        <p class="text-align-center">Hace muchos años las cuatro naciones vivían en armonía,</p>
        <p class="text-align-center">pero todo cambió cuando la nación del Fuego atacó.</p>
        <p class="text-align-center">Solo el Avatar, maestro de los cuatro elementos podía detenerlos,</p>
        <p class="text-align-center">pero cuando el mundo más lo necesitaba, desapareció.</p>
        <p class="text-align-center">Después de cien años mi hermano y yo encontramos al nuevo Avatar, un maestro aire llamado Aang.</p>
        <p class="text-align-center">Aunque sus hablididades para controlar el aire eran grandiosas, tenía mucho que aprender antes de poder salvar al mundo,</p>
        <p class="text-align-center">y yo creo que Israel podrá salvarnos.</p>
        

    </div>
</div>

{%endblock%}